*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#12002f,#1f0b4d,#001f54);
background-size:300% 300%;
animation:bg 8s infinite alternate;
color:#fff;
min-height:100vh;
overflow-x:hidden;
}

@keyframes bg{
0%{background-position:left;}
100%{background-position:right;}
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
position:sticky;
top:0;
}

.logo{
font-size:30px;
font-weight:700;
color:#00e5ff;
}

nav a{
color:#fff;
text-decoration:none;
margin:0 15px;
transition:.3s;
}

nav a:hover{
color:#00e5ff;
}

.login{
background:#00e5ff;
color:#000;
border:none;
padding:10px 25px;
border-radius:30px;
font-weight:bold;
cursor:pointer;
}

.hero{
text-align:center;
padding:100px 20px
